<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet href=" https://bootswatch.com/4/cerulean/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block navbar %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href={{path('home')}}>Démocryt</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav mr-auto">
						{% block li %}
							<li class="nav-item ">
								<a class="nav-link" href={{path('home')}}>Accueil
									<span class="sr-only">(current)</span>
								</a>
							</li>
							{%if app.user%}
								<li class="nav-item">
									<a class="nav-link" href="#">Créer un groupe</a>
								</li>
								{%else%}
								<li class="nav-item">
									<a class="nav-link" href={{path('inscription_user')}}>Inscription</a>
								</li>
								{%endif%}
							{% endblock %}

						</ul>
						<form class="form-inline my-2 my-lg-0">
							{%if not app.user%}
								<button formaction="{{path('connexion_profil')}}" class="btn btn-secondary mr-sm-2 " type="submit">Connexion</button>
								{%else%}
								<button formaction="{{path('deconnexion_profil')}}" class="btn btn-secondary mr-sm-2 " type="submit">
									<i class="fa fa-sign-out" aria-hidden="true"></i>
								</button>
								<a href="#" class="my-2 my-sm-0" data-toggle="tooltip" title={{app.user.username}}>
									<img class="rounded-circle" style="width : 50px" src="{{asset('imageProfil.jpg')}}" alt="">
								</a>
								{%endif%}
							</form>
						</div>
					</body>
				</body>
			</nav>
		{% endblock %}

		<div class="container justify-content-center">
			{% block body %}
				<h2>
					Salut vous</h2>
			{% endblock %}

		</div>
		{% block javascripts %}
			<script>
				$(document).ready(function () {
$('[data-toggle="tooltip"]').tooltip();
});
			</script>

		{% endblock %}
	</body>
</html>
