{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<h1>
		Connectez-vous à Democryt
	</h1>
	{% for message in app.flashes('message') %}
		<div class="alert alert-dismissible alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<form action="{{path('connexion_profil')}}" method="post">
		<div class="form-group">
			<input type="text" placeholder="user@example.com" required name="_username" class="form-control">
		</div>
		<div class="form-group">
			<input type="Password" placeholder="Mot de passe" required name="_password" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">
				Connexion
			</button>
		</div>
		<div class="form-group">
			<a href="{{path('mot-de-passe-oublier')}}">Vous avez oublié votre mot de passe ?</a>
		</div>

	</form>

{% endblock %}
