{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{{form_start(formCitoyen)}}
		{{form_start(formAdresse)}}

		{{form_row(formCitoyen.nomcitoyen,{'label':'Nom','attr':{'placeholder':"Nom"}})}}
		{{form_row(formCitoyen.prenomcitoyen,{'label':'Prenom','attr':{'placeholder':"Prenom"}})}}
		{{form_row(formCitoyen.courielcitoyen,{'label':'Adresse mail','attr':{'placeholder':"Adresse mail"}})}}
		{{form_row(formCitoyen.mdpcitoyen,{'label':'Mot de passe','attr':{'placeholder':"Mot de passe"}})}}
		{{form_row(formCitoyen.confirm_mdp,{'label':'Confirmation du mot de passe','attr':{'placeholder':"Répétez le mot de passe"}})}}
		{{ form_row(formCitoyen._token) }}

		<div class="row">
			<div class="col-md-2">
				{{form_row(formAdresse.numrue,{'label':'Numéro de la rue','attr':{'placeholder':"Ex:1, 25 ..."}})}}
			</div>
			<div class="col-md-5">
				{{form_row(formAdresse.nomrue,{'label':'Nom de la rue','attr':{'placeholder':"Ex : Rue impasse ..."}})}}
			</div>
			<div class="col-md-2">
				{{form_row(formAdresse.cp,{'label':'Code postal','attr':{'placeholder':"Code postal"}})}}</div>

			<div class="col-md">
				{{form_row(formAdresse.ville,{'label':'Ville','attr':{'placeholder':"Ville"}})}}
			</div>

			{{ form_row(formAdresse._token) }}
		</div>

		<button type="submit" class="btn btn-success">
			Inscription
		</button>
		{{form_end(formCitoyen)}}
		{{form_end(formAdresse)}}
	</div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">


	<script>
		$("#adresse_cp").autocomplete({
source: function (request, response) {
$.ajax({
url: "https://api-adresse.data.gouv.fr/search/?postcode=" + $("input[name='adresse[cp]']").val(),
data: {
q: request.term
},
dataType: "json",
success: function (data) {
var postcodes = [];
response($.map(data.features, function (item) { // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
if ($.inArray(item.properties.postcode, postcodes) == -1) {
postcodes.push(item.properties.postcode);
return {
label: item.properties.postcode + " - " + item.properties.city,
city: item.properties.city,
value: item.properties.postcode
};
}
}));
}
});
},
// On remplit aussi la ville
select: function (event, ui) {
$('#adresse_ville').val(ui.item.city);
}
});
$("#adresse_ville").autocomplete({
source: function (request, response) {
$.ajax({
url: "https://api-adresse.data.gouv.fr/search/?city=" + $("input[name='adresse[ville]']").val(),
data: {
q: request.term
},
dataType: "json",
success: function (data) {
var cities = [];
response($.map(data.features, function (item) { // Ici on est obligé d'ajouter les villes dans un array pour ne pas avoir plusieurs fois la même
if ($.inArray(item.properties.postcode, cities) == -1) {
cities.push(item.properties.postcode);
return {
label: item.properties.postcode + " - " + item.properties.city,
postcode: item.properties.postcode,
value: item.properties.city
};
}
}));
}
});
},
// On remplit aussi le CP
select: function (event, ui) {
$('#adresse_cp').val(ui.item.postcode);
}
});
	</script>
{% endblock %}
