{% extends 'base.html.twig' %}


{% block body %}
	<h1>
		Mot de passe oublier
	</h1>
	{% for message in app.flashes('mdpWarning') %}
		<div class="alert alert-dismissible alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	{% for msg in app.flashes('danger') %}
		<div class="alert alert-dismissible alert-danger">
			{{ msg }}
		</div>
	{% endfor %}
	<form action="{{path('mot-de-passe-oublier')}}" method="post">
		<div class="form-group">
			<input type="text" placeholder="user@example.com" name="email" class="form-control">
		</div>
		<button type="submit" class="btn btn-success">
			Envoyer
		</button>
	</div>

</form>{% endblock %}
