{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		Nouveau mot de passe
	</h1>
	{% for message in app.flashes('mdpUserIntrouvable') %}
		<div class="alert alert-dismissible alert-danger">
			{{ message }}
		</div>
	{% endfor %}


	<form method="post">
		<div class="form-group">
			<input type="Password" placeholder="Nouveau mot de passe" name="password" class="form-control">
		</div>
		<button type="submit" class="btn btn-success">
			Valider
		</button>
	</div>

</form>{% endblock %}
