{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	{% for message in app.flashes('mdpMailEnvoyer') %}
		<div class="alert alert-dismissible alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	{% for msg in app.flashes('mdpMiseAJour') %}
		<div class="alert alert-dismissible alert-success">
			{{ msg }}
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-sm my-sm-5">
			<h2>
				Actualités
			</h2>
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Titre 1</h5>
						<small>3 days ago</small>
					</div>
					<p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
																																																																																																																																																																																																																																																																								                    Dignissim enim sit amet venenatis urna cursus eget.
																																																																																																																																																																																																																																																																								                     Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Tellus molestie nunc non blandit massa enim nec dui.
					</p>
					<small>Donec id elit non mi porta.</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Titre 2</h5>
						<small class="text-muted">3 days ago</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">Donec id elit non mi porta.</small>
				</a>
			</div>
		</div>

		<div class="col-sm ">
			<img class="rounded-circle " src="{{asset('undraw_shared_goals.png')}}" style="width : 59em;" alt="">
		</div>

	{% endblock %}
