{%block body %}

	<div class="jumbotron">
		<h1 class="display-3">419</h1>
		<p class="lead">
			Désolé, votre session à expiré.
			        Réessayez plus tard .
		</p>
		<hr class="my-4">
		<a class="btn btn-primary btn-lg" href={{path('home')}} role="button">Aller à la page d'acceuil</a>
	</p>
</div>{% endblock  %}
